@model IEnumerable<ItemMasterViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Item Master</h3>
    </div>
    <div class="panel-body">

        <table id="dataTableList" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ItemMasterId</th>
                    <th>ItemMasterName</th>
                    <th>CategoryName</th>
                    <th>BarCode</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemMaster in Model)
                {
                    <tr>
                        <td>@itemMaster.ItemMaster.ItemMasterId</td>
                        <td>@itemMaster.ItemMaster.ItemMasterName</td>
                        <td>@itemMaster.CategoryName</td>
                        <td>@itemMaster.ItemMaster.BarCode</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@itemMaster.ItemMaster.ItemMasterId" class="btn btn-primary">Edit</a>
                        </td>
                        <td>
                            <form method="post" asp-action="Delete" asp-route-id="@itemMaster.ItemMaster.ItemMasterId">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure want to delete?')">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @await Component.InvokeAsync("ListFooter")
</div>

@await Component.InvokeAsync("DataTableScripts")

<script>
    $(document).ready(function () {
        $("#containerDiv").removeClass('container')
    });
</script>